<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}Resort{% endblock %}

{% block content %}
{% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Prezado {{ user.username|capfirst }}:</strong> {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
{% endif %}

<section class="section gradient-banner">
	<div class="shapes-container">
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300"></div>
		<div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="zoom-out" data-aos-duration="2000" data-aos-delay="500"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0"></div>
		<div class="shape" data-aos="fade-down" data-aos-duration="500" data-aos-delay="0"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="0"></div>
	</div>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6 order-2 order-md-1 text-center text-md-left">
				<h1 class="text-white font-weight-bold mb-4">Hotel App Resort</h1>
                <p class="text-white mb-5">Abraçado por montanhas e rodeado pela natureza, o Hotel Resort encanta por toda a receptividade mineira e o aconchego que só quem é especialista - e sente grande prazer - em acolher poderia ofertar.
A diversão e o encantamento já começam na viagem, com o verdadeiro deslumbramento de paisagens e cores que se apresenta até a entrada principal do hotel. Sem dúvida, chegar ao maior complexo de lazer da região é, por si só, a primeira de incontáveis novas memórias felizes que você colecionará durante a sua estadia.
O hotel fazenda possui um milhão de metros quadrados de área e cada cantinho encanta pelo capricho, cuidado e ainda pela sensação de bem-estar que emana, tudo isso fruto da constante manutenção pela qual passa toda a infraestrutura do hotel.</p>
			</div>
			<div class="col-md-6 text-center order-1 order-md-2">
<!--				<img class="img-fluid" src="{% static 'images/mobile.png' %}" alt="screenshot">-->
				<img class="img-fluid" src="{% static 'images/fazenda.jpg' %}" alt="screenshot">
			</div>
		</div>
	</div>
</section>
<!--====  End of Hero Section  ====-->

<section class="section pt-0 position-relative pull-top">
	<div class="container">
		<div class="rounded shadow p-5 bg-white">
			<div class="row">
				<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
					<i class="ti-paint-bucket text-primary h1"></i>
					<h3 class="mt-4 text-capitalize h5 ">Acomodações</h3>
					<p class="regular text-muted">Instaladas no novo Prédio Sabiá e compostas na totalidade por sacadas, as suítes Elite são maiores e proporcionam mais conforto e aconchego. Localizados em uma área afastada e silenciosa, os apartamentos pares contam com vista para as montanhas e os ímpares para a área de lazer.</p>
				</div>
				<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
					<i class="ti-shine text-primary h1"></i>
					<h3 class="mt-4 text-capitalize h5 ">Atividades</h3>
					<p class="regular text-muted">Explore os 40 hectares da nossa propriedade respirando o ar puro da Mata Atlântica nativa que nos cerca. Você pode percorrer os trajetos a pé ou montado em um dos nossos belos cavalos. Os passeios são agendados com antecedência e têm hora marcada. Para os pequenos, temos pôneis dóceis e profissionais treinados para orientá-los e eliminar qualquer perigo. A criançada também vai adorar a mini fazenda e o contato direto com os animais que ela permite.</p>
				</div>
				<div class="col-lg-4 col-md-12 mt-5 mt-lg-0 text-center">
					<i class="ti-thought text-primary h1"></i>
					<h3 class="mt-4 text-capitalize h5 ">Eventos</h3>
					<p class="regular text-muted">Nossos eventos propõe um mergulho na vida tranquila da roça. E não existe jeito melhor de fazer isso do que passear a cavalo pela nossa propriedade. A experiência, tão simples no interior e tão incomum na cidade, permite que o hóspede percorra todo o terreno do hotel e conheça cada cantinho dele. Sobre o cavalo, aprecie a beleza da Mata Atlântica nativa que toma conta da nossa região. Galope até o Parque de Aventuras e faça uma parada no lago que temos na propriedade.</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
