{% extends "base.html" %}
{% load static %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
    <div class="container p-5">
        <h3>Alteração de senha</h3>
        <hr>
        <p>Esqueceu a sua senha? Insira o seu endereço de email abaixo e será encaminhado as instruções de configuração de uma nova senha.</p>
        <form method="post">
            {% csrf_token %}
            <input id="email" type="email" class="form-control custom-input" name="email" placeholder="Email adress" required autofocus style="border-radius: 30px;">
            <br>
            <button type="submit" class="btn btn-success">Submeter</button>
        </form>
    </div>
{% endblock %}
