<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}Resort{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="container p-5">
            <h2 class="card-title">Quartos disponíveis no {{ name_hotel }}</h2>
            <hr>
                <table class="table table-hover">
                    <thead class="thead-dark">
                      <tr align="center">
                        <th scope="col">Número do quarto</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Ação</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for room in rooms %}
                        {% if room.active %}
                    <tr align="center">
                        <td>{{ room.number }}</td>
                        <td>R${{ room.price }}</td>
                        <td><a href="{% url 'rooms:reservation_rooms' pk=room.pk %}" class="btn btn-success">Disponível</a></td>
                    </tr>
                    {% endif %}
                    {% empty %}
                        <h2>Esse hotel ainda não possui quartos cadastrados.</h2>
                    {% endfor %}
                    </tbody>
                </table>
            <hr>
        </div>
    </div>
</div>
{% endblock %}
