<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}Resorts{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="container p-5">
            <h2 class="card-title">List hotels:</h2>
            <hr>
                <table class="table table-hover">
                    <thead class="thead-dark">
                      <tr align="center">
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for hotel in hotels %}
                        {% if hotel.active %}
                    <tr align="center">
                        <td>{{ hotel.name }}</td>
                        <td>{{ hotel.address }}</td>
                        <td><a href="{% url 'rooms:list_rooms' pk=hotel.pk %}" class="btn btn-success">availability</a></td>
                    </tr>
                        {% endif %}
                    {% empty %}
                    <li>Não há notas cadastradas</li>
                    {% endfor %}
                    </tbody>
                </table>
            <hr>
        </div>
    </div>
</div>
{% endblock %}
