<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}Resorts{% endblock %}


{% block content %}
<div class="card">
    <div class="card-body">
        <div class="container p-5">
            <h2 class="card-title">My Reservations:</h2>
            <hr>
                <table class="table table-hover">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Checkin</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for reservation in reservations %}
                    <tr>
                        <td><a>{{ reservation.checkin }}</a></td>
                        <td><a href="{% url 'rooms:update_reservation' pk=reservation.pk %}" class="btn btn-outline-secondary">Update</a> <a href="{% url 'rooms:delete_reservation' pk=reservation.pk %}" class="btn btn-outline-secondary">Delete</a></td>
                    </tr>
                    </tbody>
                    {% empty %}
                    <h2>No reservation yet.</h2>
                    {% endfor %}
                </table>
        </div>
    </div>
</div>
{% endblock %}
